@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    color: var(--primary-color);
}
ul{
    margin: 0;
    padding: 0;
}
 :root{
    --primary-color: #F5C332;
    --secondary-color: #231E41;
    --white-color: #fff;
    --black-color: #1c1c1c;

    /* text color variables  */
    --text-primary: #F5C332;
    --text-secondary: #231E41;
    --text-white: #fff;
    --text-color: #555;
    --text-gray: #999;
 }

 body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
 }
 html{
    scroll-behavior: smooth;
 }

::-webkit-scrollbar{
    width: .4125rem;
}
::-webkit-scrollbar-track{
    background-color: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

h1{
    font-size: 3.125rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--text-secondary);
    text-transform: capitalize;
}
h2{
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-secondary);
    text-transform: capitalize;
}
h4{
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--text-secondary);
    text-transform: capitalize;
    margin-bottom: .5rem;
}
h5{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: var(--text-secondary);
}
p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: .0625rem;
}
.main-btn{
    padding: .625rem 1.875rem;
    font-size: .9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 .125rem .625rem -0.0625rem rgba(0, 0, 0, .3);
    transition: all .4s ease-out 0s;
    border: .1875rem solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--black-color);
}
.main-btn:hover{
    background: transparent;
    color: var(--text-primary);
}
.wrapper{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.text-content{
    width: 70%;
    margin: 0 auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
    color: var(--primary-color);
}

/* NAVBAR  */
.navigation-wrap.scroll-on{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    z-index: 1000;
    transition: all .3s ease-in-out;
}
.navigation-wrap .navbar-brand img{
    width: 13rem;
}
.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}
.navigation-wrap .navbar-toggler{
    border: unset;
}
.navigation-wrap .navbar-toggler:focus{
    border: unset;
    outline: none;
    box-shadow: none;

}
.navigation-wrap .nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--secondary-color);
    letter-spacing: .0625rem;
}
.navigation-wrap .nav-link.active,
.navigation-wrap .nav-link:hover{
    color: var(--text-primary);
}
.navigation-wrap .main-btn{
    padding: .3125rem 1.4375rem;
    box-shadow: none;
    margin-left: .625rem;
}

/* SECTION HOME  */
.top-banner{
    width: 100%;
    background: url("images/bg/bg-1.jpg") no-repeat center;
    background-size: cover;
    padding: 14.875rem 0 9.375rem;
}

/* COUNTER  */
.counter-section{
    background-color: var(--black-color);
    padding: 2.5rem 0;
}
.counter-section p{
    color: var(--text-white);
    text-transform: uppercase;
    margin-bottom: 0;
}

/* ABOUT SECTION  */
.food-type{
    padding-top: 3.25rem;
}
.food-type ul li{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 2rem;
    position: relative;
    margin-left: 1.875rem;
}
.food-type ul li:before{
    position: absolute;
    left: -2.1875rem;
    color: var(--text-primary);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    font-weight: 900;
}

/* STORY SECTION  */
.story-section{
    width: 100%;
    height: 30.25rem;
    background-image: url(images/bg/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 6.25rem;
    text-align: center;
}

/* EXPLORE FOOD  */
.explore-food .card{
    background: transparent;
    border-radius: .9354rem;
    border: .125rem dashed var(--primary-color);
}
.explore-food .card img{
    border-top-right-radius: .9375rem;
    border-top-left-radius: .9375rem;
    border: .9375rem .9375rem 0 0;
    object-fit: cover;
}
.explore-food .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    padding-bottom: 1rem;
    border-bottom: .0625rem solid var(--primary-color);
}
.explore-food .card span del{
    color: var(--text-gray);
    margin-block-end: .5rem;
}

/* TESTIMONIAL SECTION  */
.testimonial-section{
    background-image: url('images/bg/bg-4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

} 
.testimonial-section .carousel-item{
    margin-top: 3rem;
    padding: 10rem 3.125rem;
    background-color: var(--white-color);
    border-radius: .9375rem;
    text-align: center;
}
.testimonial-section .carousel-item img{
    max-width: 5rem;
    border-radius: 50%;
    padding: .3125rem;
    border: .125rem solid var(--primary-color);

}
.testimonial-section .carousel-caption p{
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: .625rem 11%;
}
.testimonial-section .carousel-indicators{
    bottom: -4.9125rem;
}
.testimonial-section .carousel-indicators button{
    width: .9375rem;
    height: .9375rem;
    border-radius: 50%;
}

/* SECTION TEAM  */
.team .card{
    background-color: var(--black-color);
    border-radius: .625rem;
    border: .25rem solid var(--primary-color);
    text-align: center;
}
.team .card img{
    border-radius: .625rem .625rem 0 0;
}
.team .card h4{
    color: var(--text-primary);
    text-transform: uppercase;
}
.team h6,
.team p{
    color: var(--text-white);
}
.team .card .social-icon i{
    font-size: 1.125rem;
    transition: .3s all ease;
    margin: .3125rem;
    background-color: var(--text-primary);
    color: var(--text-white);
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
}
.team .card .social-icon i:hover{
    background-color: var(--white-color);
    color: var(--text-primary);
}

/* BOOK SECTION  */
.book-food{
    width: 100%;
    background: url("images/bg/bg-3.jpg");
    background-position: 0 4.494rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 4.375rem 0;

}

/* DOWNLOAD SECTION  */
.download-app{
    width: 100%;
    background-image: url("images/bg/bg-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* FOOTER  */
.footer{
    background: var(--black-color);

}
.footer .footer-link{
    font-size: 1rem;
    color: var(--text-white);
    padding: 0 1.875rem;
}
.footer a{
    font-size: 1.5rem;
    color: var(--text-white);
    padding: 0 1rem;
}


















@media (max-width: 991px){
    h1{
        font-size: 2.1875rem;
    }
    h1{
        font-size: 1.375rem;
    }
    .text-content{
        width: 100%;
    }
    .wrapper{
        padding-top: 4.25rem;
        padding-bottom: 3.25rem;
    }


    /* NAVIGATION  */
    .navigation-wrap{
        text-align: center;
        background-color: var(--text-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    /* BANNER  */
    .top-banner{
        padding: 6.375rem 0 4.365rem;
    }
     
    /* TESTIMONIAL */
    .testimonial-section .carousel-caption p{
       padding: 0;
       font-size: 1.1rem;
    }
    .testimonial-section .carousel-indicators{
        bottom: -3.9125rem;
    }
    




    
}
@media (max-width: 767px){
    h1{
        font-size: 1/875rem;
    }
    .navigation-wrap .navbar-brand img{
        width: 12rem;
    }

    /* STORY SECTION  */
    .story-section{
        height: auto;
        padding: 3rem 0;
    }

    /* section testimonal  */
    .testimonial-section.wrapper{
        padding: 4rem 0 5rem;
    }
    .testimonial-section .carousel-item{
        padding: 11rem 3.125rem;
    }
    .testimonial-section .carousel-indicators{
        bottom: -49125rem;
    }
    .footer .footer-link{
        padding: 0 .756rem;
    }
    .footer a{
        padding: 0 .654rem;
    }
    


}

@media (max-width:330px){
    .testimonial-section .carousel-item{
        padding: 13rem 3.125rem;
    }
    
}